In [45]:
import pandas as pd

df = pd.read_csv('../../data/preprocessed_v2/Lnoise_Augmentation_4981_aya-Lrecovered.csv')
print(df.shape)
df

(4981, 4)

,ID,text,target,topic
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,\nTopic : IT/과학\n\n제목 : 한중 FTA
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,"\nTopic : 경제\n\n제목 : ""北, 7일"
2,ynat-v1_train_00008,朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합,6,\nTopic : 정치\n\n제목 : 10대 그룹 총
3,ynat-v1_train_00009,듀얼심 아이폰 하반기 출시설 솔솔…알뜰폰 기대감,4,\nTopic : IT\n\n제목 : 서울 아파트값 4
4,ynat-v1_train_00011,NH투자 1월 옵션 만기일 매도 우세,1,", 코스피 하락 마감 예상\nTopic : 경제\n\n제"
...,...,...,...,...
4976,augmentation,5 . 게임 산업의 괄목할 성장과 사회적 영향,-1,\nTopic : 기술/비즈니스\n제목 : 6.
4977,augmentation,이제 특이하고 매적인 문화 뉴스 제 목 6개를 만들어볼 차례야,-1,. 각 제목은 아래의 주제 중 하나를 선택하여 만들
4978,augmentation,1 . 축구 월드컵 예선 한 국 팀 선전 분석,-1,\n2 . 한미정상회담 결과 및 향
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,\nTopic 1: 스포츠\nTopic 2: 경제\nTopic
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,\n\nTopic : 스포츠

In [46]:
print(df.columns)

Index(['ID', 'text', 'target', 'topic'], dtype='object')

In [47]:
df = df.assign(topic=df['topic'].str.split('\n')).explode('topic')
df

,ID,text,target,topic
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,Topic : IT/과학
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,제목 : 한중 FTA
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,
...,...,...,...,...
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic 2: 경제
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,Topic : 스포츠

In [48]:
# 'topic' drop na, empty string, and 'None'
df = df[df['topic'].notna()]
df = df[df['topic'] != '']
df = df[df['topic'] != 'None']
df

,ID,text,target,topic
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,Topic : IT/과학
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,제목 : 한중 FTA
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,Topic : 경제
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,"제목 : ""北, 7일"
2,ynat-v1_train_00008,朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합,6,Topic : 정치
...,...,...,...,...
4978,augmentation,1 . 축구 월드컵 예선 한 국 팀 선전 분석,-1,2 . 한미정상회담 결과 및 향
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic 1: 스포츠
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic 2: 경제
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,Topic : 스포츠

In [49]:
# topic column에 'topic'이라는 단어가 포함된 행만 추출
df = df[df['topic'].str.contains('topic', case=False)]
df

,ID,text,target,topic
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,Topic : IT/과학
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,Topic : 경제
2,ynat-v1_train_00008,朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합,6,Topic : 정치
3,ynat-v1_train_00009,듀얼심 아이폰 하반기 출시설 솔솔…알뜰폰 기대감,4,Topic : IT
4,ynat-v1_train_00011,NH투자 1월 옵션 만기일 매도 우세,1,Topic : 경제
...,...,...,...,...
4976,augmentation,5 . 게임 산업의 괄목할 성장과 사회적 영향,-1,Topic : 기술/비즈니스
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic 1: 스포츠
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic 2: 경제
4979,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,-1,Topic
4980,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",-1,Topic : 스포츠

In [50]:
from collections import Counter

words = ' '.join(df['topic'].dropna()).split()
word_counts = Counter(words)

print(len(df))
# print("단어 빈도 수:", word_counts)
for x, y in word_counts.items():
    print(f'{x}: {y}')

4403
Topic: 4319
:: 4466
IT/과학: 24
경제: 639
정치: 649
IT: 16
1:: 98
사회: 410
과학기술: 242
스포츠: 266
문화/예술: 94
여행/관광: 3
역사: 5
과학: 153
기술: 121
기술,: 122
자동차: 5
여행: 11
과학/기술: 164
Topic:: 73
기상/기후: 3
경제,: 60
생활: 1
과학기술/IT: 8
보안: 5
문화: 74
교육: 70
해답: 30
1: 145
답변: 125
사회/지역: 2
소식: 1
날씨: 20
책/문학: 1
2: 19
인공지능,: 2
날씨,: 5
자연: 2
엔터테인먼트: 223
영화/공연/음악: 1
답: 43
재해/재난: 1
정치,: 58
부동산: 14
환경: 259
역사,: 4
국제: 9
기업/산업: 10
여행,: 8
노동,: 1
부동산/건설: 1
IT/과학,: 2
사회복지,: 1
봉사활동,: 1
지역사회: 3
기술/과학: 175
교통,: 2
관광: 4
건강/의학: 82
부동산/건축: 1
사회/문화: 8
기상: 15
사고: 1
금융: 12
사회,: 10
스포츠,: 5
종교: 1
방송: 2
기술/IT: 7
고용/인사/채용: 1
법조: 3
경제/금융: 3
영화: 12
자연재해: 3
(기상,: 1
재: 1
음악: 28
답변:: 10
미디어: 3
미디어/기술: 1
종교/문화: 1
사회복지: 4
인물: 1
IT,: 2
문화/관광: 1
경제/기업: 1
기업/비즈니스: 1
2:: 13
문화/축제: 2
(사고/재난): 1
과학/: 4
군사/국방: 2
레저/여가: 3
예술/문화: 3
사회/환경: 4
문화/연예: 132
문화,: 2
IT/: 1
게임,: 5
경제/산업: 10
경제/비즈니스: 4
.: 2
북한: 1
관련: 1
소: 1
엔터테인먼트,: 9
음악/예술: 1
예술: 35
비즈니스: 4
심리학: 1
기업/증권: 1
예측: 114
부동산,: 10
법: 1
예상: 2
산업/: 1
게임: 5
문화/예술/연예: 1
범죄,: 1
경제/IT: 1
세계뉴스,: 1
헌재: 1
사회/경제: 1
국제/외교: 1
문화/예술,: 4
해당: 10
제목은: 9
**Topic: 7
정치**: 3
에: 6
속: 3
종교,: 1
및: 2
IT/경제: 1
여행/레저: 2
문화/엔터테인먼트: 31
자동차,: 18
음악,: 44
교육,: 7
음식: 6
기술/과학,: 8
환경/기후: 2
과학/의학: 12
답:: 12
해답:: 4
연예: 10
문화/: 7
과학기술,: 10
관계: 1
도시개발: 3
기상/재해: 2
교통: 30
경제': 1
환경,: 11
건강/의료: 2
건축/부동산: 1
음식문화: 1
비지니스: 1
영화/연예: 4
뷰티/패션: 1
건강/음식: 1
기상,: 2
재난: 1
산업: 9
건강: 9
음악/연예: 3
고고학: 1
기술/비지니스: 1
자기계발: 1
문제: 2
환경/자연: 2
영화와: 1
관련된: 1
내용이기에: 1
Topic은: 1
': 1
사회/교육: 1
기술/IT,: 1
'''선택한: 1
이유: 1
예술,: 7
문학: 1
과학/기술,: 8
영화,: 9
의료: 4
IT/기술: 1
농업: 2
에너지,: 10
3:: 2
엔터테인먼트**: 1
에너지: 1
의학/보건: 1
제목들은: 1
다음과: 1
같은: 2
Topic에: 3
속합니다:: 1
패션,: 3
문화예술: 1
문화/교육: 1
출력:: 3
기술/비즈니스: 3
음식/요리: 2
요리/음식: 1
문화/음식: 3
영화/문화: 1
행정: 1
에너지/환경: 1
변: 1
법률: 1
환경/기상: 2
사회공헌: 2
여행/문화: 2
환경/과학: 1
게임/e스포츠: 3
기후: 1
패션: 3
질문:: 1
다음: 1
제목이: 1
어떤: 1
동물,: 1
환경/날씨: 1
(또는: 2
생활/문화): 1
건축: 2
재난/안전: 1
사회/교통: 1
사회/법률: 1
환경/기후변화: 1
환경/에너지: 1
자연재해,: 1
사회/보건: 1
과학,: 3
-: 1
각: 3
하나의: 1
속합니다.: 1
문화/연: 1
문화/예술/엔터테인먼트: 1
위와: 1
형식으로: 1
제목에: 2
맞는: 1
Topic을: 2
예측해: 1
주세요.: 1
**Topic:: 1
날씨/기상: 1
컴퓨터: 1
군사,: 1
환경/자연재해: 1
IT/게임: 1
대중문화: 3
여성: 1
따라: 1
대한: 1
아래와: 1
같이: 1
예측합니다.: 1
사회/연예: 1
생활/문화,: 1
지역사회,: 1
도시계획: 1
문화/연예,: 1
**음악**: 1
또는: 1
**엔: 1
건강/의학,: 1
사회문제: 1
1.: 3
과학기술학: 1
기술/: 2
,: 1
과학/기술**: 1
범죄: 1
기후/환경: 1
(예측한: 1
토픽): 1
날씨/환경: 1
2.: 2
건강/: 1
자연/환경: 1
경제/: 1
패션/미용: 1
날: 1
혹은: 1
경제/IT': 1
부동산/경제: 1
사회**: 1
문화**: 1
속합니다: 1
무역/경제: 1

In [51]:
# mapping: 생활문화(0) , 스포츠(1) , 정치(2) , 사회(3) , IT과학(4) , 경제(5) , 세계(6)

mapping = {
    '생활': 0,
    '문화': 0,
    '연예': 0,
    '예술': 0,
    '날씨': 0,
    '엔터테인먼트': 0,
    '스포츠': 1,
    '게임': 1,
    '정치': 2,
    '사회': 3,
    '환경': 3,
    '과학': 4,
    'it': 4,
    '기술': 4,
    '경제': 5,
    '세계': 6
}

# mapping의 key가 string에 포함되면 value로 변경
# 기존 target 열을 보존하도록 수정된 코드
df['target'] = df.apply(
    lambda row: next((mapping[key] for key in mapping if key in str(row['topic']).lower()), row['target']),
    axis=1
)

# 결과 확인
print(df)
# df.to_csv('../../data/exp/relabel.csv', index=False)

                       ID                                   text  target  \
0     ynat-v1_train_00003          갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       4
1     ynat-v1_train_00005         美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다       5
2     ynat-v1_train_00008         朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합       2
3     ynat-v1_train_00009             듀얼심 아이폰 하반기 출시설 솔솔…알뜰폰 기대감       4
4     ynat-v1_train_00011                   NH투자 1월 옵션 만기일 매도 우세       5
...                   ...                                    ...     ...
4976         augmentation              5 . 게임 산업의 괄목할 성장과 사회적 영향       4
4979         augmentation  2   . 신흥 강호  로  부상  하고 있는  한국  배구  리그       1
4979         augmentation  2   . 신흥 강호  로  부상  하고 있는  한국  배구  리그       5
4979         augmentation  2   . 신흥 강호  로  부상  하고 있는  한국  배구  리그      -1
4980         augmentation    4   한국 남자 테니스, 세계 무  대  서  선 전  펼치다       1

                topic
0       Topic : IT/과학
1          Topic : 경제
2          Topic : 정치
3          Topic : IT
4          Topic : 경제
...               ...
4976  Topic : 기술/비즈니스
4979     Topic 1: 스포츠
4979      Topic 2: 경제
4979           Topic
4980      Topic : 스포츠

[4403 rows x 4 columns]

/tmp/ipykernel_3177317/3248576182.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df.apply(

In [ ]:
df['topic'] = df['topic'].str.replace(' ', '', regex=False)  # 공백 제거
df['topic'] = df['topic'].str.extract(r':(.+)$')  # ':' 오른쪽의 내용 추출
# df.to_csv('../../data/exp/relabel.csv', index=False)

/tmp/ipykernel_3177317/3524926910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic'] = df['topic'].str.replace(' ', '', regex=False)  # 공백 제거
/tmp/ipykernel_3177317/3524926910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic'] = df['topic'].str.extract(r':(.+)$')  # ':' 오른쪽의 내용 추출

In [53]:
df['target'].value_counts()

target
 4    964
 2    718
 0    714
 3    704
 5    648
-1    347
 1    295
 6     13
Name: count, dtype: int64

In [56]:
df = df[df['target'] != -1]
df['target'].value_counts()
df.to_csv('../../data/preprocessed_v2/Lnoise_Augmentation_4981_aya-Lrecovered_post_processed.csv', index=False)

In [57]:
print(df.shape)
print(df['target'].value_counts())

(4056, 4)
target
4    964
2    718
0    714
3    704
5    648
1    295
6     13
Name: count, dtype: int64