In [11]:
import pandas as pd

aya = pd.read_csv('../../data/preprocessed_v2/clean_aya.csv')
aya

,ID,text,target,topic
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,4,IT/과학
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,5,경제
2,ynat-v1_train_00008,朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합,2,정치
3,ynat-v1_train_00009,듀얼심 아이폰 하반기 출시설 솔솔…알뜰폰 기대감,4,IT
4,ynat-v1_train_00011,NH투자 1월 옵션 만기일 매도 우세,5,경제
...,...,...,...,...
5124,ynat-v1_train_02787,'노바 라이크 미'와 '미스터'의 차이점은 무엇인가요? 상품의 종류에 따라 사용되는...,6,NaN
5125,ynat-v1_train_02788,춘향테마파크 학예연구사 춘*학단장을 모집합니다.,0,NaN
5126,ynat-v1_train_02789,"총리와 세 살배기 어린이는 일을 완료하지 못했고, *작업이 제대로 이루어지지 않고 ...",2,NaN
5127,ynat-v1_train_02790,"농구 프로 개막,헤인즈 30득점 양홍석 스틸,모비스 2연패",3,NaN
5128,ynat-v1_train_02797,카카오톡 등 메신저에서 '다운로드' 대신 '종료'를 사용하는 버그가 발생해 이용자들...,4,NaN

In [12]:
je = pd.read_csv('../../data/enhanced/train_llm_4.csv')
je

        ID                                              text  target
0        0                메이저 리그 베이스볼의 새로운 시대 동계 아칸소 리그가 도전!       1
1        1                           국정원 대선 전 특정 정치인 압수수색 진행       2
2        2                          국제 유가 급등에 따른 인플레이션 우려 확산       6
3        3                글로벌 경기 침체 우려 속 인도 경제 4분기 성장률 7% 기록       6
4        4  인공지능이 X-ray MRI CT 등 영상 검사에서 더 높은 정확도를 보이며 의료 전문       4
...    ...                                               ...     ...
7333  7333      최신 딥러닝 알고리즘을 활용한 AI 시스템 환자 데이터 분석 속도와 정확도 향상       4
7334  7334                           우주선이 달 탐사 임무를 성공적으로 마무리       4
7335  7335                 [팀 이름]가 정규 시즌 최초 30승 달성 리그 역사에 새해       1
7336  7336                                     [ ] 경제 성장률 하락       6
7337  7337                             정부의 사회적 안전망 강화 필요성 제기       3

[7338 rows x 3 columns]

In [13]:
dh = pd.read_csv('../../data/enhanced/donghun.csv')
dh

,ID,text,target
0,ynat-v1_train_00003,갤노트 주말 만대 개통…시장은 불법 보조금 얼룩,4
1,ynat-v1_train_00005,美성인 명 중 명꼴 배우자·연인 빚 떠안은 적 있다,6
2,ynat-v1_train_00007,아가메즈 득점 우리카드 손해보험 완파… 위 굳,1
3,ynat-v1_train_00008,朴대통령 얼마나 많이 놀라셨어요…경주 지진현장 방문종합,2
4,ynat-v1_train_00009,듀얼심 아이폰 하반기 출시설 솔솔…알뜰폰 기대감,4
...,...,...,...
6097,ynat-v1_train_02794,"김기식 금감원장, 금감원 수장직 사임...'금감원 개혁' 추진에 박차를 가할 것",2
6098,ynat-v1_train_02795,트럼프의 폭스 뉴스 앵커는 충성도를 점수화하여 점수를 매깁니다.,6
6099,ynat-v1_train_02796,삼성 갤럭시의 출시 첫 주말은 이커머스 업체들에게 조용한 주말이었습니다.,4
6100,ynat-v1_train_02798,인터뷰 친구에게 맞기 싫지만... 그래도 쿨한 류 선수,1
6101,ynat-v1_train_02799,지능정보사회를 위한 국가 종합 계획 마련,3

In [14]:
dhh = pd.read_csv('../../data/enhanced/half_switch.csv')
# drop 'nouns' column
dhh = dhh.drop(columns=['nouns'])
dhh

                       ID                                  text  target
0     ynat-v1_train_00006               s광주 경기 y천취소, 프로야구~롯TKIA       1
1     ynat-v1_train_00020  마감 최지만은 19홈런 6..., 추신수 타율 0.265로 시즌        1
2     ynat-v1_train_00021        :호kQ4M족 한마5 S최, KIA I수단 팬nI께하는       1
3     ynat-v1_train_00024         도심 서북 동북권 발령종합, 서울에 다시 오존주의보        1
4     ynat-v1_train_00028         2로축구연맹WS7(0/회부, GD n{n.강d}감독        1
...                   ...                                   ...     ...
2510  ynat-v1_train_02395        수급자 타인 인적사항 도용, 야구장 암표팔다 적발 기초       1
2511  ynat-v1_train_02454      포도에 견우 직녀의 사랑까지, 주말 N 여행 충청권 달콤한       0
2512  ynat-v1_train_02541            자동 영문 자막 붙는다, 유튜브 영어 생방송에        2
2513  ynat-v1_train_02600           지 디즈니 명곡 메들리로, 인어공주부터 겨울왕국까       0
2514  ynat-v1_train_02795    점수매겨 10점만점에 12점도, 트럼프 폭스뉴스 앵커들 충성도       3

[2515 rows x 3 columns]

In [16]:
final = pd.concat([aya, je, dh], ignore_index=True)
final.shape
# final.to_csv('../../data/enhanced/final.csv', index=False)

(18569, 4)

In [24]:
final['target'].value_counts()

target
4    3775
6    3458
0    2494
3    2441
2    2247
1    2219
5    1935
Name: count, dtype: int64

In [18]:
final2 = pd.concat([je, dh], ignore_index=True)
final2['target'].value_counts()

target
6    3287
4    2664
1    1770
0    1628
3    1577
2    1361
5    1153
Name: count, dtype: int64

In [20]:
final2.to_csv('../../data/enhanced/final2.csv', index=False)

In [28]:
import pandas as pd
from sklearn.utils import resample

# 각 클래스별 데이터프레임 생성
dfs = [final2[final2['target'] == i] for i in final2['target'].unique()]

# 기준이 되는 클래스의 샘플 수 (target 값 5 기준)
undersample_size = min(len(final2[final2['target'] == 5]), 1153)

# 각 클래스에 대해 undersampling 적용
df_undersampled = pd.concat([
    resample(sub_df, replace=False, n_samples=undersample_size, random_state=42)
    if len(sub_df) > undersample_size else sub_df
    for sub_df in dfs
])

# 결과 저장 또는 출력
df_undersampled['target'].value_counts()

target
1    1153
2    1153
6    1153
4    1153
0    1153
3    1153
5    1153
Name: count, dtype: int64